.earth:hover {
    animation-name: bounce;
    animation-duration: 0.7s;
    animation-timing-function : ease;
    animation-iteration-count: infinite;
    }

    
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }
}
    